
<form name="changeUserPasswordForm">
    <div class="box form-horizontal">
        <h2>Change password</h2>

        <div class="form-group">
            <label for="old-password" class="col-md-2 control-label">Old Password:</label>

            <div class="col-md-5">
                <input type="password" class="form-control" id="old-password" ng-model="userData.oldPassword" required />
            </div>
        </div>
        
        <div class="form-group">
            <label for="new-password" class="col-md-2 control-label">New Password:</label>

            <div class="col-md-5">
                <input type="password" class="form-control" id="new-password" ng-model="userData.newPassword" required min-length="6" />
            </div>
        </div>

        <div class="form-group">
            <label for="confirm-password" class="col-md-2 control-label">Confirm Password:</label>

            <div class="col-md-5">
                <input type="password" class="form-control" id="confirm-password" ng-model="userData.confirmPassword" required min-length="6" />
            </div>
        </div>

        <div class="col-md-offset-2">
            <button class="btn btn-default" id="change-password-button" ng-click="changePassword(userData)">Change</button>

            <!--<a ng-click="register(userData)" class="button">Register</a>-->
            <a href="#/" class="link">Cancel</a>
        </div>
    </div>
</form>
