.comments {
    float: right;
}

.post-by {
    float: left;
    margin: 5px;
    color: orange;
}

.post-body > p {
    margin: 10px;
}

.post-date {
    float: right;
    margin: 5px;
}

.new-post > textarea {
    min-height: 100px;
    min-width: 200px;
}

.project-details > p > span {
    color: cornflowerblue;
}

.project-priorities > span {
    color: orangered;
}

.project-labels > span {
    color: orangered;
}