<!--Project Page
Route: #/projects/:id
Includes all the project info and all of its issues. If the user is the project’s leader he can add new issues.
-->

<h2>Project <strong>{{project.Name}}</strong> (Id: {{project.Id}})</h2>
<div class="col-md-5">
	<h3>Project Details:</h3>
	<div class="project-details">
		<p><span>Name: </span> {{project.Name}}</p>
		<p><span>Id: </span> {{project.Id}}</p>
		<p><span>Description: </span> {{project.Description}}</p>
		<p><span>Labels: </span> <span ng-repeat="label in project.Labels"><span>{{label.Name}}{{$last ? '' : ', '}}</span></span>
		</p>
		<p><span>Lead By: </span> {{project.Lead.Username}}</p>
		<p><span>Priorities: </span> <span class="project-priorities" ng-repeat="priority in project.Priorities"><span>{{priority.Name}}{{$last ? '' : ', '}}</span></span>
		</p>
		<p><span>Project Key: </span> {{project.ProjectKey}}</p>
	</div>

	<div ng-if="isProjectLeader">
		<a class="btn btn-primary" href="#/projects/{{project.Id}}/edit">Edit Project</a>
		<a class="btn btn-primary" href="#/projects/{{project.Id}}/add-issue">Add New Issue</a>
	</div>
</div>

<div class="col-md-7 border"> <!--Issues-->
	<h3>Project Issues:</h3>
	<table class="table table-striped border-except-top">
		<thead>
            <tr class="table-first-row">
                <td class="block">Title</td>
                <td class="block">Description</td>
                <td class="block">Due Date</td>
                <td class="block">Assignee</td>
            </tr>
		</thead>
		<tbody>
            <tr ng-repeat="issue in projectIssues">
                <td class="block"><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                <td class="block">{{issue.Description}}</td>
                <td class="block">{{issue.DueDate | date:'dd.MM.yyyy'}}</td>
                <td class="block">{{issue.Assignee.Username}}</td>
            </tr>
		</tbody>
	</table>
</div>