<!--Add Issue 
Route: #/projects/:id/add-issue
A modal dialog with a form for creating a new issue. The form consists of:
Assignee (Drop-down with all available users)
Project (Drop-down with all available projects)
Due (Calendar)
Priority (Drop-down with available priorities for this project)
Label (Text-box which suggests already created labels by typing a substring. If the label does not exist – creates it)
Title (Text-box)
Description (Textarea)
Create Issue (Button)
-->

<form name="createIssueForm" class="modal-body">
    <label for="issue-title">Title: </label>
    <input type="text" id="issue-title" required="required" ng-model="newIssue.Title" class="form-control"/>
    <br />
    <label for="issue-description">Description: </label>
    <textarea id="issue-description" rows="3" required="required" ng-model="newIssue.Description" class="form-control"></textarea>
    <br />
    <label for="issue-assignee">Assignee:
        <select id="issue-assignee" ng-model="newIssue.AssigneeId"
                ng-options="user.Id as user.Username for user in users" class="form-control"></select>
    </label>
    <br />
    <label for="issue-project">Project Id:
        <input id="issue-project" disabled="disabled" required="required" ng-model="currentProject.Id" class="form-control"/>
    </label>
    <br />
    <label for="issue-duedate">Due Date:
        <input id="issue-duedate" type="date" required="required" ng-model="newIssue.DueDate" class="form-control"/>
    </label>
    <br />
    <label for="issue-priority">Priority:
        <select id="issue-priority" required="required" ng-model="newIssue.PriorityId"
                ng-options="priority.Id as priority.Name for priority in currentProject.Priorities" class="form-control"></select>
    </label>
    <br/>
    <label for="issue-labels">Labels (separated by space): </label>
    <input type="text" id="issue-labels" required="required" ng-model="newIssue.Labels" class="form-control"/>
    <br />
    <button class="btn btn-primary" ng-disabled="issueEditForm.$invalid" ng-click="addNewIssue(newIssue)">Edit Issue</button>
</form>